*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
}
body .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    /* position: fixed;
    z-index: 1000;
    background-color: white; */
}
.header .nav2{
    display: none;
}
body .header img{
    width: 170px;
}
.header .nav{
    grid-column: end;
}
.header .nav a{
    justify-content: end;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.row2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.row2 h2{
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 400;
    color: #655959;
}
.row2 .text{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
}
.row2 .text .img{
    grid-row: 1/2;
    grid-column: 3/4;
}
.row2 .text .img img{
    width: 100%;
}
.row2 .text .text1{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row: 2/3;
    grid-column: 1/4;
    place-content: center;
}
.row2 .text p{
    text-transform: uppercase;
    font-weight: 550;
    color: #465461;
}
.row2 .text p1{
    place-self: center;
    color: #00b187;
    text-transform: uppercase;
    color: #8a8e9a;
    font-weight: 550;
}


.row3{
    padding: 30px 20px 40px 20px;
    border: 1px #c3c3c3 solid;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fbfcff;
}
.row3 .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row3 .row1-s{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row3 h3{
    font-size: 20px;
    color: #4b525c;
}
.row3 p{
    font-size: 15px;
}
.row3 p1{
    justify-content: center;
    align-items: center;
    width: 95%;
    font-family: "Montserrat";
    font-size: 32px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 2px #00b187 solid;
}
.row3 p1 span2{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /* margin-top: 40%; */
    font-size: 25px;
    color: #454c55;
}
.row3 p1 span2 p2{
    grid-row: 3/4;
}
.row3 p1 span{
    font-size: 70px;
    display: grid;
    grid-template-columns: 10% 40%;
    color: #454c55;
    font-weight: 600;
}
.row3 p1 span span1{
    font-size: 22px;
    font-weight: 450;
    color: #454c55;
}
.row3 .row1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row3 button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #00b187;
}
.row3 button a{
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
}


.h{
    padding: 50px 20px 20px 20px;
    text-align: center;
    margin-top: 100px;
}
.h p{
    font-family: "Merriweather" ;
    font-size: 20px;
    color: #454c55;
}

.row4{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
}
.row4 .row4-1{
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: 0px 0px 68px 30px rgba(202, 218, 232, 0.11);
    -moz-box-shadow: 0px 0px 68px 30px rgba(202, 218, 232, 0.11);
    box-shadow: 0px 0px 68px 30px rgba(202, 218, 232, 0.11);
    border-radius: 5px;
}
.row4 .row4-1:nth-child(3){
    padding: 30px 30px 30px 25px;
}
.row4 .row4-1:nth-child(3) a{
    color: #00b187;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
.row4 .row4-1 span{
    font-weight: 600;
    color: #454c55;
    font-size: 30px;
}
.row4 .row4-1 .text{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.row4 .row4-1 .text span{
    font-size: 14px;
    font-weight: 550;
}
.row4 .row4-1 .text p{
    font-size: 14px;
    color: #465461;
}
.row4 .row4-1 span{
    display: flex;
    flex-direction: column;
}
.row4 .row4-1 span span{
    font-size: 14px;
    font-weight: 400;
}


.row5{
    margin: 20px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f2f9ff;
    border-radius: 5px;
    border: none;
}
.row5 p{
    font-family: "Merriweather";
    font-size: 35px;
    color: #454c55;
}
.row5 p span{
    color: #00b187;
}
.row5 button{
    height: 50px;
    border: none;
    background-color: #00b187;
    border-radius: 5px;
}
.row5 button a{
    color: white;
    text-decoration: none;
    font-weight: 550;
    letter-spacing: 1px;
}

.row6{
    margin: 40px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.row6 h2{
    color: #00b187;
    text-align: center;
    font-size: 26px;
}
.row6 .details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row6 details .tri{
    margin-top: 20px;
}
.row6 details .tri p{
    color: #8a8e9a;
}
.row6 details summary{
    font-size: 24px;
    font-weight: 700;
    color: #454c55;
}

.row6 details summary:hover{
    color: #00b187;
}


.footer{
    display: flex;
    gap: 30px;
    margin: 20px;
    flex-direction: column;
    font-family: 'Montserrat';
}
.footer a{
    color: #4b525c;
    font-weight: 300;
    text-decoration: none;
}
.footer .row1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .row1 p{
    font-size: 18px;
    font-weight: 550;
}
.footer .row1:nth-of-type(2) span{
    color: #00b187;
}
.footer .row1 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .row1 .details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer .row1 .details details summary{
    font-size: 15px;
    font-weight: 300;
    color: #4b525c;
}
.footer .row1 details ul{
    margin-top: 20px;
}
.footer .row1 details summary{
    color: #4b525c;
    font-weight: 300;
}
.footer .row1 ul li{
    font-size: 14px;
}


@media screen and (min-width: 1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        display: flex;
        background-color: #f4f6f8;
        flex-direction: column;
    }
    body a:hover{
        opacity: 0.85;
    }
    body .header{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 40px 20px 20px 170px;
        gap: 30%;
    }
    .header .nav{
        display: none;
    }
    body .header .nav2{
        display: block;
        display: flex;
        flex-direction: row;
        gap: 50%;
        grid-column-end: 3/5;
        justify-content: center;
        align-items: center;
    }
    body .header .nav2 .buttons{
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 10px;
    }
    body .header .nav2 .text{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    body .header .nav2 .text a{
        color: #4b525c;
        text-decoration: none;
    }
    body .header .nav2 .buttons button:nth-child(1){
        width: 100px;
        border: none;
        border: 1px #00b187 solid;
        background-color: transparent;
        height: 35px;
        border-radius: 5px;
    }
    body .header .nav2 .buttons button:nth-child(1) a{
        color: #00b187;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }
    body .header .nav2 .buttons button:nth-child(1):hover{
        background-color: #00b187;
    }
    body .header .nav2 .buttons button:nth-child(1):hover a{
        color: white;
    }
    body .header .nav2 .buttons button:nth-child(2){
        width: 140px;
        height: 35px;
        background-color: #00b187;
        border: none;
        border-radius: 5px;
    }
    body .header .nav2 .buttons button:nth-child(2) a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .header .space{
        display: none;
    }
    .nav2{
        display: flex;
        grid-column: 2/4;
    }
    .row2{
        display: flex;
        margin-top: 120px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row2 h2{
        font-size: 35px;
    }
    .row2 .text2{
        display: flex;
        gap: 100px;
        flex-direction: row;
        align-items: end;
    }
    .row2 .text2 .text .text1 p, p1 {
        font-size: 18px;
    }
    .row2 .text .img img{
        width: 130px;
    }

    .row3{
        display: flex;
        flex-direction: column;
    }
    .row3-s{
        display: flex;
        padding: 20px 160px 20px 160px;
        flex-direction: row;
    }

    .h p{
        font-size: 28px;
    }

    .row4{
        padding: 20px 200px;
    }
    .row4 .row4-1{
        padding: 50px 10px;
        display: flex;
        flex-direction: row-reverse;
        gap: 40%;
    }
    .row4 .row4-1 span{
        padding-right: 30px;
        font-weight: 700;
        font-size: 32px;
    }
    .row4 .row4-1 span span{
        font-weight: 500;
    }
    .row4 .row4-1:nth-child(2){
        gap: 40%;
    }
    .row4 .row4-1:nth-child(3){
        gap: 40%;
        padding: 50px 10px;
    }
    .row4 .row4-1 .text{
        padding: 0;
    }


    .row5{
        display: flex;
        text-align: left;
        flex-direction: row;
        margin: 20px 300px;
        gap: 30%;
        background-color: #f2f9ff;
        align-items: center;
    }
    .row5 p{
        width: 50%;
    }
    .row5 button{
        width: 220px;
    }
    .row5 button a{
        font-weight: 400;
    }

    .row6 {
        margin: 20px 450px;
    }
    .row6 .details summary{
        font-size: 25px;
    }
    .row6 .details .tri{
        font-size: 18px;
        word-spacing: 2px;
    }


    .footer{
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 100px 1fr 0px;
        column-gap: 100px;
    }
    .footer .row1 p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .footer .row1:nth-child(1){
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .footer .row1 .a{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer .row1:nth-child(2){
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .footer .row1:nth-child(3){
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .footer .row1:nth-child(4){
        grid-column: 3/4;
        grid-row: 2/4;
    }
    .footer .row1:nth-child(5){
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .footer .row1:nth-child(6){
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .footer .row1:nth-child(7){
        grid-row: 3/4;
        grid-column: 4/5;
    }
}